1.Title
2.Concepts
3.Sub topics
4.Description/paragraph

In [3]:
print("Welcome to Machine Learning workshop")

Welcome to Machine Learning workshop

##### Follow the naming 
- Rollnum_name

## Today Topics
- Markdown introduction
- jupyter notebook environment
- review of python
- review of Data Analysis

##### Literate Programming
- Programming along with documentation

#### Font sizes
- heading1 to heading6

# heading1
## heading2
### heading3
#### heading4
##### heading5
###### heading6

##### Font styles

I am *italic* text

I am **bold text** in this sentence

I am ***Ruthu*** from **APSSDC** working as *ML Trainer*

<h2>Displaying image</h2>
<img src="ml.jpg"></img>

you can provide urls in this page

[google](https://www.google.com)<br>
[youtube](https://www.youtube.com)

##### Links in Markdown
- Ordered
- Un-ordered

Fruits
1. Apple
2. Banana
3. Guava
4. Pomogranate

### Python
- It is a general purpose,high and interpreted languag
- **General purpose**
    - used for multiple purposes such as *Scientific computation,mobile application development,system software development etc.*
- **High level language**
    - user understandable language
- **Interpreted language**
    - gives the user/programmer line by line execution
- ***Features**
    - easy to learn and simple to code
    - seems to be english language
    - it is syntax free
    - it is semi-object oriented language
- *Need of Python*
    - it is the building block of all current technologies like Web development,Data Analysis,Machine Learning and Aritificial Intelligence(A part of Data Science), IOT,Robotics etc

In [6]:
python
data analysis
machine learning

SyntaxError: invalid syntax (<ipython-input-6-42c6a4482bb0>, line 2)

In [7]:
# find the sum of middle digits of n space separated numbers 
# 890 567 349 832 106 745 
# ans=19

In [8]:
keywords in python
variables
data types

SyntaxError: invalid syntax (<ipython-input-8-ef82b97b45e9>, line 3)

In [9]:
arr=list(map(int,input().split()))
s=0
for i in range(len(arr)):
    n=arr[i]//10
    r=n%10
    s+=r
print(s)
# c logic implemented in python

890 567 349 832 106 745
26

In [12]:
import math
def middleDigit(n):
    digits=math.log10(n)+1
    n=int((n//math.pow(10, digits//2)))%10
    return n
N=890 567 349 832 106 745
print(middleDigit(N))

SyntaxError: invalid syntax (<ipython-input-12-4aff8202f50e>, line 6)

In [24]:
#l=[int(i[len(i)//2]) for i in input().split(' ')]
#sum(l)
l=[int(i[len(i)//2]) for i in input().split(' ')] # list comprehension
sum(l)

890 567 349 832 106 745

26

In [15]:
n=int(input("no.of numbers:"))
nums=input().split()[:n]
s=0
for dig in nums:
    s+=int(dig[1])
s

6
890 567 349 832 106 745

26

In [19]:
3//2

1

In [20]:
3/2

1.5

##### Data Structures
1. tuple
2. list
3. set
4. dictionary

#### Tuple
- it is represented by ()
- immutable in nature
- it allows the user to store heterogenous data items/elements

In [25]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [26]:
t=(4,'ruthu',90,'python',9.4,'list',90)

In [27]:
t

(4, 'ruthu', 90, 'python', 9.4, 'list', 90)

In [28]:
t[0]

4

In [29]:
t[:3]

(4, 'ruthu', 90)

In [30]:
t.count(90)

2

In [31]:
t

(4, 'ruthu', 90, 'python', 9.4, 'list', 90)

In [32]:
t.index(90) # index of first occurence

2

In [33]:
t

(4, 'ruthu', 90, 'python', 9.4, 'list', 90)

In [34]:
t.index(9.4)

4

In [35]:
t.add('new')

AttributeError: 'tuple' object has no attribute 'add'

##### List
- allows the heteregenous data items
- mutable in nature

In [36]:
nums

['890', '567', '349', '832', '106', '745']

In [37]:
type(nums)

list

In [38]:
dir(nums)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [39]:
nums.index('349')

2

In [45]:
nums.insert(4,'new')# pos,ele

In [46]:
nums

['890', '567', '349', '832', 'new', 'new', 'new', '106', '745']

In [47]:
for num in range(1,6):
    nums.insert(3,'hi')

In [49]:
print(nums)

['890', '567', '349', 'hi', 'hi', 'hi', 'hi', 'hi', '832', 'new', 'new', 'new', '106', '745']

In [50]:
nums.pop()

'745'

In [51]:
nums.pop(4) # index

'hi'

In [52]:
nums.remove('new') # element

In [53]:
nums

['890', '567', '349', 'hi', 'hi', 'hi', 'hi', '832', 'new', 'new', '106']

In [55]:
for num in range(40,46):
    nums.insert(9,num)

In [56]:
print(nums)

['890', '567', '349', 'hi', 'hi', 'hi', 'hi', '832', 'new', 45, 44, 43, 42, 41, 40, 'new', '106']

In [57]:
nums.remove(41)

In [59]:
print(nums)

['890', '567', '349', 'hi', 'hi', 'hi', 'hi', '832', 'new', 45, 44, 43, 42, 40, 'new', '106']

In [60]:
nums.count("hi")

4

In [61]:
sum()
min()
max()
sort()

TypeError: sum expected at least 1 arguments, got 0

In [63]:
nums[4]

'hi'

In [64]:
nums[4]='Ruthu' # adding/updating/inserting

In [66]:
print(nums)

['890', '567', '349', 'hi', 'Ruthu', 'hi', 'hi', '832', 'new', 45, 44, 43, 42, 40, 'new', '106']

#### Drawback of list
- list allows the duplicates

In [68]:
print(nums)

['890', '567', '349', 'hi', 'Ruthu', 'hi', 'hi', '832', 'new', 45, 44, 43, 42, 40, 'new', '106']

In [71]:
# print the unique elements from the list nums
# prepraing the unique list of elements of new
n=int(input())
l=list(map(int,input().split())) # integers# 
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
print(l1)

16
890', '567', '349', 'hi', 'Ruthu', 'hi', 'hi', '832', 'new', 45, 44, 43, 42, 40, 'new', '106'

ValueError: invalid literal for int() with base 10: "890',"

In [76]:
print(nums)
unq=[]
for num in nums:
    if num not in unq:
        unq.append(num)
unq

['890', '567', '349', 'hi', 'Ruthu', 'hi', 'hi', '832', 'new', 45, 44, 43, 42, 40, 'new', '106']

['890', '567', '349', 'hi', 'Ruthu', '832', 'new', 45, 44, 43, 42, 40, '106']

In [79]:
# 
for each in nums:
    if nums.count(each)==1:
        print(each,end=" ")

890 567 349 Ruthu 832 45 44 43 42 40 106

In [80]:
print(unq)

['890', '567', '349', 'hi', 'Ruthu', '832', 'new', 45, 44, 43, 42, 40, '106']

In [81]:
set(nums)

{'106', '349', 40, 42, 43, 44, 45, '567', '832', '890', 'Ruthu', 'hi', 'new'}

In [82]:
A={90,'Hi',56,'hi',90,'new','python','a','b','C','e'}
A

{56, 90, 'C', 'Hi', 'a', 'b', 'e', 'hi', 'new', 'python'}

#### Dictionary
- it is pair data structure
- contains:keys and values
    - key as user provided index/reference and keys can be any datatype
    - value which is can be any data structure

In [84]:
dic=dict()
print(type(dic))

<class 'dict'>

In [85]:
dir(dic)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [86]:
dic={} # google,social media platforms
list=all the organisations to store their data
tuple=providing a/c numbers to the customers in banking sector
# (can't be changed):tuple:fastly executable

SyntaxError: invalid syntax (<ipython-input-86-7c63c2c305f3>, line 2)

In [87]:
# Develop the menu card application
# menu of items:order the place:bill payment
# contact application

In [91]:
menu={'Dosa':30,'Pulka':50,'Idly':25,'Roti':35,
      'Poori':40,'Coffee':15,'Meals':100,
      'Fried Rice':120,'Veg Rice':150,'Biryani':180}
print("Items Available..\n")
for item,price in menu.items():
    print(item,':Rs.',price,'/-')
order=input().split(',')
bill=0
for item in order:
    if item in menu:
        bill+=menu[item]
    else:
        print("Sorry",item,'not available.')
print("Your total bill=",bill)

Items Available..

Dosa :Rs. 30 /-
Pulka :Rs. 50 /-
Idly :Rs. 25 /-
Roti :Rs. 35 /-
Poori :Rs. 40 /-
Coffee :Rs. 15 /-
Meals :Rs. 100 /-
Fried Rice :Rs. 120 /-
Veg Rice :Rs. 150 /-
Biryani :Rs. 180 /-
Idly,Biryani,dosa
Sorry dosa not available.
Your total bill= 205

In [92]:
li=[4,5,6,9]
li2=['a','b',"c",'d']
for a,b in zip(li,li2):
    print(a,b,sep=":")

4:a
5:b
6:c
9:d

##### Contact Application
- save_contact()
- delete_contact()
- edit_contact()
- search_contact()
- display_contact()

In [131]:
contacts={}
def save_contact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print(name,"added successfully.!")
    else:print(name,"already exist.!")
        
#save_contact('Ruthu',9876543210)
def search_contact(name):
    if name in contacts:
        print('here is your contact:',end="\n")
        print(name,contacts[name],sep=":")
def delete_contact(name):
    if name in contacts:
        contacts.pop(name)
        
def edit_contact(name,phone):
    if name in contacts:
        new=int(input("Enter new mobile:"))
        contacts[name]=new
        print(name,"gest updated")
    else:print(name,"doesn't exist..!")
def display_contacts():
    for name,phone in contacts.items():
        print(name,phone,sep=":")

In [112]:
contacts

{}

In [132]:
save_contact('Ruthu',9087564312)
save_contact('Vanitha',8907654321)
save_contact('Nandini',9087654321)
save_contact('My hs',7890654321)
save_contact('My sis',6789054231)
save_contact('Velangini',8097654312)

Ruthu added successfully.!
Vanitha added successfully.!
Nandini added successfully.!
My hs added successfully.!
My sis added successfully.!
Velangini added successfully.!

In [102]:
contacts

{'Ruthu': 9087564312,
 'Vanitha': 8907654321,
 'Nandini': 9087654321,
 'My hs': 7890654321,
 'My sis': 6789054231,
 'Velangini': 8097654312}

In [133]:
search_contact('Nandini')

here is your contact:
Nandini:9087654321

In [134]:
edit_contact('My hs',7890654321)

Enter new mobile:9087564312
My hs gest updated

In [135]:
delete_contact('Nandini')

In [136]:
contacts

{'Ruthu': 9087564312,
 'Vanitha': 8907654321,
 'My hs': 9087564312,
 'My sis': 6789054231,
 'Velangini': 8097654312}

In [138]:
display_contacts()

Ruthu:9087564312
Vanitha:8907654321
My hs:9087564312
My sis:6789054231
Velangini:8097654312

In [106]:
print(menu)

{'Dosa': 30, 'Pulka': 50, 'Idly': 25, 'Roti': 35, 'Poori': 40, 'Coffee': 15, 'Meals': 100, 'Fried Rice': 120, 'Veg Rice': 150, 'Biryani': 180}

In [108]:
if 'Pulka' in menu.keys():
    print(menu['Pulka'])

50

In [110]:
if 40 in menu.items():
    print(menu[40])

In [116]:
help(contacts.items)

Help on built-in function items:

items(...) method of builtins.dict instance
    D.items() -> a set-like object providing a view on D's items

In [117]:
edit_contact('My hs',7890654321)

Enter new mobile:9087653421
My hs gest updated

In [118]:
contacts

{'Ruthu': 9087564312,
 'Vanitha': 8907654321,
 'Nandini': 9087654321,
 'My hs': 9087653421,
 'My sis': 6789054231,
 'Velangini': 8097654312}

In [119]:
delete_conact('Vanitha')

NameError: name 'delete_conact' is not defined